.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

@media (--medium-up) {
    .flex-row-m {
        display: flex;
        flex-direction: row;
    }
    .flex-column-m {
        display: flex;
        flex-direction: column;
    }
}

@media (--large-up) {
    .flex-row-l {
        display: flex;
        flex-direction: row;
    }
    .flex-column-l {
        display: flex;
        flex-direction: column;
    }
}
