/*
Just a nicety
Having underlines that leave a little gap where descenders might intersect.
*/
a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}
a,
.underline {
    text-decoration: none;
    text-shadow: 1px 1px 0 #f5f6f9, -1px 1px 0 #f5f6f9, -1px -1px 0 #f5f6f9, 1px -1px 0 #f5f6f9;
    background-image: linear-gradient(90deg, currentColor 100%, transparent 100%);
    background-position: 0 1.08em;
    background-repeat: repeat-x;
    background-size: 1px 1px;
}
a::-moz-selection,
.underline::-moz-selection {
    background-color: rgba(0, 150, 255, 0.3);
    text-shadow: none;
}
a::selection,
.underline::selection {
    background-color: rgba(0, 150, 255, 0.3);
    text-shadow: none;
}
