/*
This part has been directly lifted from tachyons.
It's all about line length and good readability.
http://tachyons.io/docs/typography/measure/
*/
.measure {
    max-width: 30em;
}
.measure-wide {
    max-width: 34em;
}
.measure-narrow {
    max-width: 20em;
}
