html,
body {
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    margin: 0 0 1rem;
}

/*
https://www.w3.org/TR/WCAG20-TECHS/C21.html
Line height between 1.5 and 2
WCAG 2.0
*/
p,
ul,
ol,
table,
blockquote,
pre,
code {
    line-height: 1.5;
    margin: 0 0 1rem;
}

/* 
http://type-scale.com/ 
The basic text sizes change scales depending on screen size.
The larger the screen size the more extreme the scale.
For components, which may swap "notes" between screen sizes, 
there are the breakpoint prefixed class names.
The non prefixes h class names will act as the basic text els do.
*/

/* Perfect Forth */
h1,
.h1 {
    font-size: 3.157rem;
}
h2,
.h2 {
    font-size: 2.369rem;
}
h3,
.h3 {
    font-size: 1.777rem;
}
h4,
.h4,
blockquote {
    font-size: 1.333rem;
}
h5,
.h5,
p {
    font-size: 1rem;
}
h6,
.h6,
small {
    font-size: 0.75rem;
}
/* Augmented Forth */
@media (--medium-up) {
    h1,
    .h1,
    .m-h1 {
        font-size: 3.998rem;
    }
    h2,
    .h2,
    .m-h2 {
        font-size: 2.827rem;
    }
    h3,
    .h3,
    .m-h3 {
        font-size: 1.999rem;
    }
    h4,
    .h4,
    blockquote,
    .m-h4 {
        font-size: 1.414rem;
    }
    h5,
    .h5,
    .m-h5,
    p {
        font-size: 1rem;
    }
    h6,
    .h6,
    .m-h6,
    small {
        font-size: 0.707rem;
    }
}

/* Perfect fifth */
@media (--large-up) {
    h1,
    .h1,
    .l-h1 {
        font-size: 5.063rem;
    }
    h2,
    .h2,
    .l-h2 {
        font-size: 3.375rem;
    }
    h3,
    .h3,
    .l-h3 {
        font-size: 2.25rem;
    }
    h4,
    .h4,
    blockquote,
    .l-h4 {
        font-size: 1.5rem;
    }
    h5,
    .h5,
    .l-h5,
    p {
        font-size: 1rem;
    }
    h6,
    .h6,
    .l-h6,
    small {
        font-size: 0.667rem;
    }
}

/* The golden ratio */
@media (--huge-up) {
    h1,
    .h1,
    .h-h1 {
        font-size: 6.854rem;
    }
    h2,
    .h2,
    .h-h2 {
        font-size: 4.236rem;
    }
    h3,
    .h3,
    .h-h3 {
        font-size: 2.618rem;
    }
    h4,
    .h4,
    blockquote,
    .h-h4 {
        font-size: 1.618rem;
    }
    h5,
    .h5,
    .h-h5,
    p {
        font-size: 1rem;
    }
    h6,
    .h6,
    .h-h6,
    small {
        font-size: 0.618rem;
    }
}
