.hero-banner {
    position: relative;
}

.hero-banner img {
    width: 100%;
}

@media (--medium-up) {
    .hero-banner__body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
