/*
http://tachyons.io/docs/themes/skins/
A big visual list of background and text colors that are a11y friendly
*/
:root {
    --black: #222222;
    --black50: rgba(34, 34, 34, 0.5);
    --grey: #eae9e9;
    --white: #ffffff;
    --yellow: #f7df1e;
    --blue: #cdecff;
}

.clr-yellow {
    color: var(--yellow);
}
.clr-white {
    color: var(--white);
}
.clr-black {
    color: var(--black);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.bg-black-50 {
    background-color: var(--black50);
}
.bg-blue {
    background-color: var(--blue);
}
.fill-yellow {
    fill: var(--yellow);
}
.fill-white {
    fill: var(--white);
}
.fill-black {
    fill: var(--black);
}
