:root {
    --black: #222;
    --grey: #eae9e9;
    --white: #fff;
    --yellow: #f7df1e;
    --blue: #12223f;
}
.clr-yellow {
    color: var(--yellow);
}
.clr-white {
    color: var(--white);
}
.clr-black {
    color: var(--black);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.bg-blue {
    background-color: var(--blue);
}
.fill-yellow {
    fill: var(--yellow);
}
.fill-white {
    fill: var(--white);
}
.fill-black {
    fill: var(--black);
}
html {
    box-sizing: border-box;
}
*,
:after,
:before {
    box-sizing: inherit;
}
body {
    margin: 0;
    overflow-x: hidden;
}
article,
aside,
details,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}
b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
body,
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}
.h1,
h1 {
    font-size: 3.157rem;
}
.h2,
h2 {
    font-size: 2.369rem;
}
.h3,
h3 {
    font-size: 1.777rem;
}
.h4,
h4 {
    font-size: 1.333rem;
}
.h5,
h5,
p {
    font-size: 1rem;
}
.h6,
h6,
small {
    font-size: 0.75rem;
}
@media (min-width: 900px) {
    .h1,
    h1 {
        font-size: 3.998rem;
    }
    .h2,
    h2 {
        font-size: 2.827rem;
    }
    .h3,
    h3 {
        font-size: 1.999rem;
    }
    .h4,
    h4 {
        font-size: 1.414rem;
    }
    .h5,
    h5,
    p {
        font-size: 1rem;
    }
    .h6,
    h6,
    small {
        font-size: 0.707rem;
    }
}
@media (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 5.063rem;
    }
    .h2,
    h2 {
        font-size: 3.375rem;
    }
    .h3,
    h3 {
        font-size: 2.25rem;
    }
    .h4,
    h4 {
        font-size: 1.5rem;
    }
    .h5,
    h5,
    p {
        font-size: 1rem;
    }
    .h6,
    h6,
    small {
        font-size: 0.667rem;
    }
}
@media (min-width: 1800px) {
    .h1,
    h1 {
        font-size: 6.854rem;
    }
    .h2,
    h2 {
        font-size: 4.236rem;
    }
    .h3,
    h3 {
        font-size: 2.618rem;
    }
    .h4,
    h4 {
        font-size: 1.618rem;
    }
    .h5,
    h5,
    p {
        font-size: 1rem;
    }
    .h6,
    h6,
    small {
        font-size: 0.618rem;
    }
}
.inline-code {
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--grey);
    font-size: 16px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
::-moz-selection {
    background: #7fffd4;
    color: #000;
}
::selection {
    background: #7fffd4;
    color: #000;
}
body,
html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: Libre Baskerville, serif;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.underline,
a {
    text-decoration: none;
    text-shadow: 1px 1px 0 #f5f6f9, -1px 1px 0 #f5f6f9, -1px -1px 0 #f5f6f9, 1px -1px 0 #f5f6f9;
    background-image: linear-gradient(90deg, currentColor 100%, transparent 0);
    background-position: 0 1.08em;
    background-repeat: repeat-x;
    background-size: 1px 1px;
}
.underline::-moz-selection,
a::-moz-selection {
    background-color: rgba(0, 150, 255, 0.3);
    text-shadow: none;
}
.underline::selection,
a::selection {
    background-color: rgba(0, 150, 255, 0.3);
    text-shadow: none;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #4b6191;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b6191;
}
@keyframes a {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
.spinner {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: a 1.2s linear infinite;
}
.screen-height {
    height: 100vh;
}
.v-center {
    vertical-align: middle;
}
span.v-center {
    display: inline-block;
}
.center-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}
.no-wrap {
    white-space: nowrap;
}
@media (max-width: 360px) {
    .hide-small {
        display: none;
    }
}
.fixed-bottom-right {
    position: fixed;
    bottom: 26px;
    right: 10px;
}
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}
.position-relative {
    position: relative;
}
.padding-30 {
    padding: 30px;
}
